In [5]:
population = {"England":55550138, "Scotland":5466000, "Wales":3169586, "Northern Ireland":1895510}

In [4]:
area = {"England":130309, "Scotland":77911, "Wales":20736, "Northern Ireland":13793}

In [10]:
import pandas

In [11]:
data_frame = pandas.DataFrame({"area": area, "population": population})

In [12]:
data_frame = data_frame[["area", "population"]]

In [13]:
data_frame

                    area  population
England           130309    55550138
Scotland           77911     5466000
Wales              20736     3169586
Northern Ireland   13793     1895510